$redDesatured: hsl(0, 36%, 70%);
$redSoft: hsl(0, 93%, 68%);
$redDarkGrayish: hsl(0, 6%, 24%);

// graident
$white: hsl(0, 0%, 100%);
$whiteDark: hsl(0, 100%, 98%);

$redDesaturedLight: hsl(0, 80%, 86%);
$redDesaturedDark: hsl(0, 74%, 74%);